@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@{
    ViewData["Title"] = Localizer["AccesoDenegadoTitle"];
}

<div class="container mt-5 pt-5 text-center">
    <h1 class="display-1 text-danger fw-bold"><i class="bi bi-shield-lock"></i> 403</h1>
    <h2 class="mb-4">Acceso Denegado</h2>
    <p class="lead mb-5">@Localizer["SinPermisosAcceso"]</p>
    
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">@Localizer["VolverInicioBtn"]</a>
</div>
