@model Delivery.Modelos.Entidades.Repartidor
<h1>Create Repartidor</h1>
<form asp-action="Create">
    @Html.EditorForModel()
    <br/>
    <input type="submit" value="Create" />
</form>
<a asp-action="Index">Back to List</a>
