@model Delivery.Modelos.Entidades.Repartidor
<h1>Details Repartidor</h1>
<div>
    @Html.DisplayForModel()
</div>
<a asp-action="Edit" asp-route-id="@Model.UsuarioId">Edit</a> |
<a asp-action="Index">Back to List</a>
