@model IEnumerable<Delivery.Modelos.Entidades.Repartidor>
<h1>Repartidor - Index</h1>
<p><a asp-action="Create">Create New</a></p>
<table border="1">
    <thead>
        <tr>
            <th>Id / Info</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.UsuarioId)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsuarioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UsuarioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UsuarioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
