@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model Delivery.Modelos.Entidades.Usuario
@{ ViewData["Title"] = Localizer["EditarUsuarioTitle"]; }
<h1 class="my-4">@Localizer["EditarUsuarioTitle"]</h1><hr />
<div class="row"><div class="col-md-6">
<form asp-action="Edit">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Id" />
<div class="mb-3">
<label asp-for="RolId" class="form-label"></label>
<select asp-for="RolId" class="form-control" asp-items="ViewBag.RolId"></select>
<span asp-validation-for="RolId" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Nombre" class="form-label"></label>
<input asp-for="Nombre" class="form-control" />
<span asp-validation-for="Nombre" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Apellidos" class="form-label"></label>
<input asp-for="Apellidos" class="form-control" />
<span asp-validation-for="Apellidos" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Email" class="form-label"></label>
<input asp-for="Email" class="form-control" />
<span asp-validation-for="Email" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="PasswordHash" class="form-label"></label>
<input asp-for="PasswordHash" class="form-control" />
<span asp-validation-for="PasswordHash" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Telefono" class="form-label"></label>
<input asp-for="Telefono" class="form-control" />
<span asp-validation-for="Telefono" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="TipoUsuario" class="form-label"></label>
<input asp-for="TipoUsuario" class="form-control" />
<span asp-validation-for="TipoUsuario" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Activo" class="form-label"></label>
<input asp-for="Activo" class="form-check-input" type="checkbox" />
<span asp-validation-for="Activo" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="FotoPerfilUrl" class="form-label"></label>
<input asp-for="FotoPerfilUrl" class="form-control" />
<span asp-validation-for="FotoPerfilUrl" class="text-danger"></span></div>


<div class="mb-3">
<label asp-for="Rol" class="form-label"></label>
<input asp-for="Rol" class="form-control" />
<span asp-validation-for="Rol" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Direcciones" class="form-label"></label>
<input asp-for="Direcciones" class="form-control" />
<span asp-validation-for="Direcciones" class="text-danger"></span></div>
<div class="mb-3"><button type="submit" class="btn btn-warning btn-confirm" data-title="żConfirmar acción?" data-text="Por favor confirma esta acción" data-confirm="Sí, continuar">@Localizer["ActualizarBtn"]</button></div>
</form></div></div>
<div><a asp-action="Index" class="btn btn-outline-secondary">@Localizer["VolverListadoBtn"]</a></div>

