@model Delivery.Modelos.Entidades.Pago
@{ ViewData["Title"] = "Editar Pago"; }
<h1 class="my-4">Editar Pago</h1><hr />
<div class="row"><div class="col-md-6">
<form asp-action="Edit">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Id" />
<div class="mb-3">
<label asp-for="PedidoId" class="form-label"></label>
<input asp-for="PedidoId" class="form-control" />
<span asp-validation-for="PedidoId" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="TipoMetodoPago" class="form-label"></label>
<input asp-for="TipoMetodoPago" class="form-control" />
<span asp-validation-for="TipoMetodoPago" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Monto" class="form-label"></label>
<input asp-for="Monto" class="form-control" />
<span asp-validation-for="Monto" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="EstadoPago" class="form-label"></label>
<input asp-for="EstadoPago" class="form-control" />
<span asp-validation-for="EstadoPago" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="ReferenciaTransaccion" class="form-label"></label>
<input asp-for="ReferenciaTransaccion" class="form-control" />
<span asp-validation-for="ReferenciaTransaccion" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="FechaPago" class="form-label"></label>
<input asp-for="FechaPago" class="form-control" type="datetime-local" />
<span asp-validation-for="FechaPago" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="CreadoEn" class="form-label"></label>
<input asp-for="CreadoEn" class="form-control" type="datetime-local" />
<span asp-validation-for="CreadoEn" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Pedido" class="form-label"></label>
<input asp-for="Pedido" class="form-control" />
<span asp-validation-for="Pedido" class="text-danger"></span></div>
<div class="mb-3"><button type="submit" class="btn btn-warning">Actualizar</button></div>
</form></div></div>
<div><a asp-action="Index" class="btn btn-outline-secondary">Volver al listado</a></div>
