@model Delivery.Modelos.Entidades.Pedido
@{ ViewData["Title"] = "Crear Pedido"; }
<h1 class="my-4">Crear Pedido</h1><hr />
<div class="row"><div class="col-md-6">
<form asp-action="Create">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="mb-3">
<label asp-for="UsuarioId" class="form-label"></label>
<input asp-for="UsuarioId" class="form-control" />
<span asp-validation-for="UsuarioId" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="RestauranteId" class="form-label"></label>
<input asp-for="RestauranteId" class="form-control" />
<span asp-validation-for="RestauranteId" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="RepartidorId" class="form-label"></label>
<input asp-for="RepartidorId" class="form-control" />
<span asp-validation-for="RepartidorId" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="DireccionEntregaId" class="form-label"></label>
<input asp-for="DireccionEntregaId" class="form-control" />
<span asp-validation-for="DireccionEntregaId" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="EstadoPedido" class="form-label"></label>
<input asp-for="EstadoPedido" class="form-control" />
<span asp-validation-for="EstadoPedido" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Subtotal" class="form-label"></label>
<input asp-for="Subtotal" class="form-control" />
<span asp-validation-for="Subtotal" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="CostoEnvio" class="form-label"></label>
<input asp-for="CostoEnvio" class="form-control" />
<span asp-validation-for="CostoEnvio" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Total" class="form-label"></label>
<input asp-for="Total" class="form-control" />
<span asp-validation-for="Total" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="TipoMetodoPago" class="form-label"></label>
<input asp-for="TipoMetodoPago" class="form-control" />
<span asp-validation-for="TipoMetodoPago" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="MetodoPagoId" class="form-label"></label>
<input asp-for="MetodoPagoId" class="form-control" />
<span asp-validation-for="MetodoPagoId" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="CuponId" class="form-label"></label>
<input asp-for="CuponId" class="form-control" />
<span asp-validation-for="CuponId" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="MontoDescuento" class="form-label"></label>
<input asp-for="MontoDescuento" class="form-control" />
<span asp-validation-for="MontoDescuento" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Notas" class="form-label"></label>
<input asp-for="Notas" class="form-control" />
<span asp-validation-for="Notas" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="FechaPedido" class="form-label"></label>
<input asp-for="FechaPedido" class="form-control" type="datetime-local" />
<span asp-validation-for="FechaPedido" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="FechaEntregaEstimada" class="form-label"></label>
<input asp-for="FechaEntregaEstimada" class="form-control" type="datetime-local" />
<span asp-validation-for="FechaEntregaEstimada" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="FechaEntregaReal" class="form-label"></label>
<input asp-for="FechaEntregaReal" class="form-control" type="datetime-local" />
<span asp-validation-for="FechaEntregaReal" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="ActualizadoEn" class="form-label"></label>
<input asp-for="ActualizadoEn" class="form-control" type="datetime-local" />
<span asp-validation-for="ActualizadoEn" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Usuario" class="form-label"></label>
<input asp-for="Usuario" class="form-control" />
<span asp-validation-for="Usuario" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Restaurante" class="form-label"></label>
<input asp-for="Restaurante" class="form-control" />
<span asp-validation-for="Restaurante" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Repartidor" class="form-label"></label>
<input asp-for="Repartidor" class="form-control" />
<span asp-validation-for="Repartidor" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="DireccionEntrega" class="form-label"></label>
<input asp-for="DireccionEntrega" class="form-control" />
<span asp-validation-for="DireccionEntrega" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Detalles" class="form-label"></label>
<input asp-for="Detalles" class="form-control" />
<span asp-validation-for="Detalles" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Pagos" class="form-label"></label>
<input asp-for="Pagos" class="form-control" />
<span asp-validation-for="Pagos" class="text-danger"></span></div>
<div class="mb-3"><button type="submit" class="btn btn-primary">Guardar</button></div>
</form></div></div>
<div><a asp-action="Index" class="btn btn-outline-secondary">Volver al listado</a></div>
