@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Delivery.MVC.SharedResource> Localizer
@model Delivery.Modelos.Entidades.Rol
<h1>@Localizer["CrearRolTitle"]</h1>
<form asp-action="Create">
    @Html.EditorForModel()
    <br/>
    <input type="submit" value="@Localizer["GuardarBtn"]" />
</form>
<a asp-action="Index">@Localizer["VolverListadoBtn"]</a>
