@model Delivery.Modelos.Entidades.CategoriaProducto
@{ ViewData["Title"] = "Editar CategoriaProducto"; }
<h1 class="my-4">Editar CategoriaProducto</h1><hr />
<div class="row"><div class="col-md-6">
<form asp-action="Edit">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Id" />

<div class="mb-3">
<label asp-for="Nombre" class="form-label"></label>
<input asp-for="Nombre" class="form-control" />
<span asp-validation-for="Nombre" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Descripcion" class="form-label"></label>
<input asp-for="Descripcion" class="form-control" />
<span asp-validation-for="Descripcion" class="text-danger"></span></div>




<div class="mb-3"><button type="submit" class="btn btn-warning btn-confirm" data-title="¿Confirmar acción?" data-text="Por favor confirma esta acción" data-confirm="Sí, continuar">Actualizar</button></div>
</form></div></div>
<div><a asp-action="Index" class="btn btn-outline-secondary">Volver al listado</a></div>

