@model Delivery.Modelos.Entidades.Direccion
@{ ViewData["Title"] = "Crear Direccion"; }
<h1 class="my-4">Crear Direccion</h1><hr />
<div class="row"><div class="col-md-6">
<form asp-action="Create">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="mb-3">
<label asp-for="UsuarioId" class="form-label"></label>
<input asp-for="UsuarioId" class="form-control" />
<span asp-validation-for="UsuarioId" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Alias" class="form-label"></label>
<input asp-for="Alias" class="form-control" />
<span asp-validation-for="Alias" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Calle" class="form-label"></label>
<input asp-for="Calle" class="form-control" />
<span asp-validation-for="Calle" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Numero" class="form-label"></label>
<input asp-for="Numero" class="form-control" />
<span asp-validation-for="Numero" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Ciudad" class="form-label"></label>
<input asp-for="Ciudad" class="form-control" />
<span asp-validation-for="Ciudad" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Referencia" class="form-label"></label>
<input asp-for="Referencia" class="form-control" />
<span asp-validation-for="Referencia" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Latitud" class="form-label"></label>
<input asp-for="Latitud" class="form-control" />
<span asp-validation-for="Latitud" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Longitud" class="form-label"></label>
<input asp-for="Longitud" class="form-control" />
<span asp-validation-for="Longitud" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="EsPrincipal" class="form-label"></label>
<input asp-for="EsPrincipal" class="form-check-input" type="checkbox" />
<span asp-validation-for="EsPrincipal" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="CreadoEn" class="form-label"></label>
<input asp-for="CreadoEn" class="form-control" type="datetime-local" />
<span asp-validation-for="CreadoEn" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="ActualizadoEn" class="form-label"></label>
<input asp-for="ActualizadoEn" class="form-control" type="datetime-local" />
<span asp-validation-for="ActualizadoEn" class="text-danger"></span></div>
<div class="mb-3">
<label asp-for="Usuario" class="form-label"></label>
<input asp-for="Usuario" class="form-control" />
<span asp-validation-for="Usuario" class="text-danger"></span></div>
<div class="mb-3"><button type="submit" class="btn btn-primary">Guardar</button></div>
</form></div></div>
<div><a asp-action="Index" class="btn btn-outline-secondary">Volver al listado</a></div>
